:root {
    --text: #a4ac86;
    --background: #333d29;
    --primary: #a4ac86;
    --secondary: #b6ad90;
    --accent: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--background);
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
header {
    animation: fadeInOut 2s linear 1 forwards;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.title {
    color: var(--primary);
    font-size: 5rem;
    margin-top: 40vh;
}

.subtitle {
    font-size: 2rem;
    color: var(--text);
}

/* ____________________cards__________________ */
.main {
    width: 85vw;
    margin: 0 auto;
}

.game {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.memory_game {
    width: 85vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4%;
    gap: 0.5em;
    animation: fadeIn 3s linear 1 forwards;
}

.card_face:hover {
    transform: scale(1.03);
    transition: 0.4s;
}

.card_face.is-flipped {
    transform: rotateY(180deg);
}

.card_face {
    position: relative;
    height: 15vmax;
    width: 11%;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.card_face_front,
.card_face_back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
}

.card_face_front {
    background: var(--primary);
}

.card_face_back {
    transform: rotateY(180deg);
}

img {
    width: 100%;
    object-fit: contain;
}

/* ____________________misc__________________ */
.infoCard {
    margin-top: 1em;
    color: var(--secondary);
    animation: fadeIn 3.5s linear 1 forwards;
    text-align: center;
}

#shuffle {
    color: var(--accent);
    background-color: var(--secondary);
    font-size: 1.5rem;
    border-radius: 6px;
    border: none;
    padding: 0.25em 3.5em;
    opacity: 0.6;
    cursor: pointer;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.result {
    font-size: 3rem;
}

.guess_count {
    margin-top: 1em;
    font-size: 1.5rem;
    visibility: visible;
}

.guess_options {
    position: absolute;
    left: 33%;
}

#play_again {
    font-size: 3vh;
    color: var(--accent);
    background-color: var(--secondary);
    border-radius: 6px;
    border: none;
    padding: 10px;
    width: 35%;
    opacity: 0.6;
    cursor: pointer;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

a {
    color: var(--secondary);
}

.show {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--accent);
    font-weight: 300;
    visibility: hidden;
    color: var(--primary);
    border-bottom: solid 1px var(--secondary);
}
.guess_options {
    visibility: hidden;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--primary);
    padding: 0 2em;
}
.user_guesses {
    border: none;
    font-size: 1.5rem;
    width: 2rem;
    margin-right: 0.5em;
    color: var(--accent);
}

.change_guess {
    color: var(--accent);
    background-color: var(--secondary);
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 0 0.5em;
    opacity: 0.7;
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

#art {
    visibility: hidden;
    min-width: 10rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

#shuffle:hover,
#play_again:hover {
    transform: scale(1.02);
}

@media (width < 800px) {
    * {
        background-color: var(--background);
    }
    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .result {
        font-size: 2rem;
    }

    .card_face {
        height: 16vh;
        width: 23%;
    }

    img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 30%;
    }

    .guess_count {
        margin-top: 0;
    }
    #art {
        display: none;
    }
    .show {
        margin-bottom: 2em;
    }
    .guess_options {
        position: absolute;
        left: 15%;
        padding: 0;
    }
    .user_guesses {
        margin-right: 0;
    }
}
